<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Codilar_Core::extensions" title="Codilar" module="Magento_Backend" sortOrder="10" resource="Codilar_Core::extensions" />
    </menu>
</config>