<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add
            id="Codilar_Core::extensions"
            title="Codilar"
            module="Codilar_Core"
            sortOrder="10"
            resource="Codilar_Core::extensions"
        />
        <add
            id="Codilar_Core::configuration"
            title="General Configuration"
            module="Codilar_Core"
            sortOrder="10"
            parent="Codilar_Core::extensions"
            resource="Codilar_Core::configuration"
            action="adminhtml/system_config/edit/section/codilar"
        />

    </menu>
</config>
